@model List<BookInfo.Models.BookViewModel>
@{
    ViewData["Title"] = "Book List";
}

@foreach (var b in Model)
{
    @:Title: @b.TheBook.Title <br />
    @:Published: @b.TheBook.Date.ToString("yyyy") <br />
    @:Author: @b.TheAuthor.Name <br />

    <a asp-action="Edit" asp-route-id="@b.TheBook.BookID" class="btn btn-primary">Edit</a>
    <a asp-action="Delete" asp-route-id="@b.TheBook.BookID" class="btn btn-danger">Delete</a>
    <br />
}
